/* CSS E-M RESET MINUS BODY AND BORDER */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* UNIVERSAL STYLES */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width: 100%;
}
/* GENERAL STYLES */
html{
    font-size: 62.5%;
}
body{
    background-color:rgb(15, 0, 15) ;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* !!!! COME BACK AND FILL */
    font-size: 1.2rem;
    line-height: 1.5;
}
h1,h2,a{
    text-align: center;
    color: rgb(170, 169, 169);
}
h1{
    font-size: 7rem;
    font-family: 'Rock Salt', cursive;
}
h2{
    font-size: 3rem;
    padding: 2%;
}
h3{
    font-size: 2rem;
    color: grey;
}
a{
    font-size: 2rem;
    padding: 0, auto;
    text-decoration: none;
    border: 1.5px solid rgb(82, 82, 82);
}

/* HEADER STYLES */
header{
    display:flex;
    justify-content: space-between;
}
nav{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width: 33%;
}
nav a{
    width: 24%;
}
nav a:hover{
    background-color:whitesmoke;
}

/* MAIN STYLES */
.core{
    height: 45vh;
    width: 90%;
    margin: 2% auto;
    background-image: url(https://images.unsplash.com/photo-1519262558424-85f09f65d09b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size:110%;
    background-position: 0% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.core a{
    background-color: rgb(27, 12, 12);
    font-size: 3rem;
    color: grey;
    width: 20%;
    border-radius: 17px;
}
.core a:hover{
    background-color:whitesmoke;
}

/* PROJECT STYLES */
.projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    padding: 2% 1%;
}
.container div{
    width: 100%;
    height:20vh;
    background-repeat: no-repeat;
}
.lapse{
    background-image: url(https://images.unsplash.com/photo-1501722774607-350d98706b01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1227&q=80);
    background-size: 100%;
    background-position: 100% 30%;
    
}
.dog{
    background-image: url(https://images.unsplash.com/photo-1531601609256-2e78caf7af67?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
    background-size: 100%;
    background-position: 100% 60%;
}
.ball{
    background-image: url(https://images.unsplash.com/photo-1520236351980-16fbcb68e0e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2836&q=80);
    background-size: 145%;
    background-position: 50% 40%;
}

.trip{
    background-image:url(https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2767&q=80);
    background-size: 120%;
    background-position: 100% 20%;
}
.diet{
    background-image:url(https://images.unsplash.com/photo-1481070555726-e2fe8357725c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: 100%;
    background-position: 100% 60%;
}
.live{
    background-image:url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2700&q=80);
    background-size: 180%;
    background-position: 50% 100%;
}
/* FOOTER STYLES */
footer{
    height:8vh;
    background-color: rgb(27, 1, 27);
    display:flex;
    justify-content: center;
}
.footerlinks{
    width:33%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footerlinks a{
    padding:2% 2%;
    background-color: rgb(78, 10, 78);
    border-radius: 15px;
}
.footerlinks a:hover{
    background-color:whitesmoke;
}